{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="background-color: white; padding: 0;">
        <div class="jumbotron">
            <h1>Planning du père noël</h1>
        </div>

        <div class="planning" style="font-size: 1.7em">

            {% for commande in commandes %}
                <div class=" {{ loop.index0>=5 ? 'hidden' }}">
                    <strong>Nom :</strong> {{ commande.nom }} {{ commande.prenom }}
                    <strong>Adresse :</strong> {{ commande.adresse }}
                    <ul>
                        <li style="list-style: none">

                             <input type="submit" value="Delete" class="btn btn-warning">

                        </li>
                        <li style="list-style: none">
                          <!--  <a href="{{ path('commande_edit', { 'id': commande.id }) }}">Editer la commande</a>-->
                        </li>
                    </ul>
                </div>
            {% endfor %}

        </div>


        <div id="map" style="height:450px;width:100%; margin-bottom: 40px"></div>
    </div>



    <script>
        function initMap() {
            var map;
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 48.856614, lng: 2.3522219000000177},
                zoom: 3
            });
            {% for commande in commandes %}

            var beachMarker = new google.maps.Marker({
                position: {lat: {{ commande.longitude }}, lng: {{ commande.latitude }}},
                map: map,
                title: '{{ commande.prenom }}',
                clickable: true
            });

            beachMarker.addListener('click', function() {
                infowindow.setContent(beachMarker.getTitle());
                infowindow.setContent(this.html);
                infowindow.open(map, beachMarker);
            });

            // marker.setMap(null);  supprimer marqueur
            {% endfor %}
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ3dmF57Y66ggbNIKdzWvFBBwIVgthszw&callback=initMap"
            async defer></script>

{% endblock %}