{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}


    <div class="container">
        <div class="jumbotron">
            <h1>Catalogue de Noël</h1>
        </div>

        <div class="row">
            {% for produit in produits %}
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <a href="{{ path('produit_show', { 'id': produit.id }) }}">
                            <img class="img-responsive" src="/image/{{ produit.image }}">
                            <h3>{{ produit.nom }}</h3>
                            <p class="centre-bouton"><a class="btn btn-default glyphicon glyphicon-gift"
                               href="{{ path('commande_new') }}"> Prendre ce cadeau</a></p>
                            <p class="centre-bouton"><a class="btn btn-default" href="{{ path('produit_show', { 'id': produit.id }) }}">Voir le produit</a></p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}